USE [master]
GO
/****** Object:  Database [MiBaseDeDatos]    Script Date: 16/06/2023 11:54:20 a. m. ******/
CREATE DATABASE [MiBaseDeDatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiBaseDeDatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MiBaseDeDatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiBaseDeDatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MiBaseDeDatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiBaseDeDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiBaseDeDatos]
GO
/****** Object:  User [Juan]    Script Date: 16/06/2023 11:54:20 a. m. ******/
CREATE USER [Juan] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[fechaDeNacimiento] [date] NULL,
	[sexo] [char](1) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [FechaHora], [Descripcion]) VALUES (1, CAST(N'2023-06-16T00:22:00.053' AS DateTime), N'Se leyeron los usuarios')
INSERT [dbo].[Logs] ([Id], [FechaHora], [Descripcion]) VALUES (2, CAST(N'2023-06-16T00:22:04.363' AS DateTime), N'Se leyeron los usuarios')
INSERT [dbo].[Logs] ([Id], [FechaHora], [Descripcion]) VALUES (3, CAST(N'2023-06-16T00:22:07.057' AS DateTime), N'Se leyeron los usuarios')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [nombre], [fechaDeNacimiento], [sexo]) VALUES (20, N'María', CAST(N'1992-05-15' AS Date), N'F')
INSERT [dbo].[Usuarios] ([Id], [nombre], [fechaDeNacimiento], [sexo]) VALUES (21, N'Pedro', CAST(N'1988-09-10' AS Date), N'M')
INSERT [dbo].[Usuarios] ([Id], [nombre], [fechaDeNacimiento], [sexo]) VALUES (22, N'Ana', CAST(N'1995-06-20' AS Date), N'F')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar un usuario
CREATE PROCEDURE [dbo].[ActualizarUsuario] 
    @ID INT,
    @Nombre NVARCHAR(100),
    @FechaDeNacimiento DATE,
    @Sexo CHAR(1)
AS
BEGIN
    UPDATE Usuarios
    SET Nombre = @Nombre,
        FechaDeNacimiento = @FechaDeNacimiento,
        Sexo = @Sexo
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para eliminar un usuario
CREATE PROCEDURE [dbo].[EliminarUsuario] 
    @ID INT
AS
BEGIN
    DELETE FROM Usuarios
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarLog]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarLog] 
    @FechaHora datetime,
    @Descripcion nvarchar(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Logs (FechaHora, Descripcion) 
    VALUES (@FechaHora, @Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarUsuario]
    @Nombre NVARCHAR(50),
    @FechaDeNacimiento DATE,
    @Sexo CHAR(1)
AS
BEGIN
    INSERT INTO Usuarios (Nombre, FechaDeNacimiento, Sexo)
    VALUES (@Nombre, @FechaDeNacimiento, @Sexo)
END
GO
/****** Object:  StoredProcedure [dbo].[LeerUsuarios]    Script Date: 16/06/2023 11:54:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para leer todos los usuarios
CREATE PROCEDURE [dbo].[LeerUsuarios]
AS
BEGIN
    SELECT * FROM Usuarios;
END;
GO
USE [master]
GO
